[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version= '3.6'

[packages]
openpyxl = '>=2.6.1'
pyexcel-io = '>=0.6.2'

[dev-packages]
nose = "*"
mock = "*"
codecov = "*"
coverage = "*"
flake8 = "*"
